<%- include('../partials/header') %>

    <h1>Pokemon Most Powerful Attack #<%= skill.no%></h1>
    <h3>Pokemon Type: <%= skill.type %></h3>
    <h3>Attack: <%= skill.attack %></h3>
    <h3>Attack Vaule: <%= skill.value %></h3>
    
   
<%- include('../partials/footer') %>